@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Mi viaje con mi mascota</h1>


    <article class="d-flex align-items-center justify-content-center flex-column gap-5">
        <img src="~/img/yuya.jpeg" alt="Descripción de la imagen" width="300" />

        <p>Durante un viaje a Ica con mi familia, nos encontramos con algo que jamás olvidaré. Estábamos explorando las
            dunas, disfrutando del calor y la arena, cuando de repente, vi una pequeña perrita Schnauzer. Estaba sola,
            caminando desorientada, como si estuviera buscando algo o a alguien.

            No pude ignorarla. Me acerqué despacio, y cuando nos miramos, sentí una conexión instantánea. Sus ojos
            mostraban cansancio, pero también una especie de alivio al verme. No lo pensé dos veces; la recogí y la
            llevé con nosotros.

            La llamamos Yuya, y desde ese momento, se convirtió en parte de la familia. Todos en casa la recibieron con
            los brazos abiertos, como si siempre hubiera sido una de nosotros. Ahora, Yuya es mi compañera fiel, siempre
            a mi lado en todas las aventuras. Cada vez que pienso en cómo la encontramos en medio de las dunas de Ica,
            me doy cuenta de que ese encuentro fue algo especial, como si el destino hubiera decidido que Yuya y yo nos
            encontraríamos allí.






        </p>

    </article>
</div>
