@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Estás viendo la rama MAIN</h1>
    <p>Estás viendo actualmnete la rama main de el proyecto assingment-2</p>
    <p>si deseas ver mi viaje con mi perrito ejecuta el siguiente comando en git bash o tu terminal de preferencia</p>
    <code>git checkout "viaje"</code>
</div>
